.container {
  display: flex;
  min-height: 100vh;
  background: #f4f6f8;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1 1 0;
  flex-direction: column;
}

/* Sidebar */
.sidebar {
  width: 100%;
  background: #ffffff;
  padding: 25px;
  box-shadow: 2px 0 10px rgba(0,0,0,0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.title {

  font-size: 22px;
  font-weight: bold;
}

.tab {
  border: none;
  background: transparent;
  text-align: left;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s;
}

.tab:hover {
  background: var(--secondary-color);
  opacity: 0.8;
  color: white;
}

.active {
  background: var(--secondary-color);
  color: white;
}

/* Content */
.content {
  flex: 1;
  padding: 40px;
}

/* Form */
.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.formGroup label {
  margin-bottom: 5px;
  font-weight: 500;
}

.formGroup input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  outline: none;
}

.formGroup input:focus {
  border-color: var(--secondary-color);
}

/* Button */
.saveBtn {
  margin-top: 15px;
  padding: 10px 18px;
  background: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.saveBtn:hover {
  background: var(--secondary-color);
}

.tabs {
  display: flex;
  gap: 10px;
}