@import "tailwindcss";

:root {
  --primary-color: #FF9924;
  --secondary-color: #BE968E;
  --dark-color: #072F25;  
  --background-color: #ffffff;
  --text-color: #333333;
  --border-color: #C8C8C8; 
  --black-color: #000000;  
  --white-color: #ffffff;
}

body {
  background: var(--background-color);
  color: var(--text-color); 
}

.container { 
  max-width: 1200px;
  margin: 0 auto; 
  padding: 0 20px;
}

Link {
  color: var(--black-color);
  text-decoration: none;  
}