.registerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerContainer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.registerForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
}

.content {
  text-align: center;
  margin-bottom: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inputGroup input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}

.inputDeffContainer {
  display: flex;
  gap: 15px;
}

.inputDeff  {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputDeff input {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  width: 100%;
}

.registerButton {
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.genderButtons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.genderBtn {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
  font-weight: 500;
  width: 50%;
}

.genderBtn:hover {
  border-color: var(--secondary-color);
}

.active {
  background: var(--secondary-color);
  color: #fff;
  border-color: var(--secondary-color);
}

.genderLabel {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.phoneInput {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
}

.genderButtons {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.genderBtn {
  padding: 10px 18px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  transition: all 0.25s ease;
  font-weight: 500;
}

.genderBtn:hover {
  border-color: var(--secondary-color);
}

.active {
  background: var(--secondary-color);
  color: white;
  border-color: var(--secondary-color);
}

.genderLabel {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}
